<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<head>
	<body style="width: 800px;">
		<table>
			<tr>	
				<td colspan="4">  <img style="width:100%;" src="http://201.131.96.56/layouts/mail/header.png"></td>
			</tr>
			<tr>
				<td colspan="4">
					<span style="font-weight: bold;font-size: 17px;">Se ha autorizado la cita</span>
				</td>
			</tr>
			<tr>
				<td colspan="4" style="text-align:center;background-color:#FA6503;color:#FFFFFF;padding:5px;font-weight:bold;">
					Detalle de su solicitud de servicio
				</td>
			</tr>
			<tr>
				<td><b>Estatus:</b></td><td>@_status_@</td>
				<td><b>Folio:</b></td><td>@_folio_@</td>
			</tr>

			<tr>
				<td><b>Fecha/Hora:</b></td><td>@_fechahora_@</td>
				<td><b>Personal Asignado:</b></td><td>@_pasignado_@</td>
			</tr>

			<tr>
				<td><b>Contacto:</b></td><td>@_contacto_@</td>
				<td><b>Tel. Contacto:</b></td><td>@_telcontacto_@</td>
			</tr>

			<tr>
				<td><b>Dirección:</b></b></td><td>@_dire_@</td>
				<td><b>Referencias:</b></td><td>@_refes_@</td>
			</tr>

			<tr>
				<td colspan="4" style="text-align:center;background-color:#FA6503;color:#FFFFFF;padding:5px;font-weight:bold;">
					Datos del Cliente
				</td>
			</tr>	
			<tr>
				<td><b>Nombre:</b></td><td>@_nombrecliente_@</td>
				<td><b>Razón Social:</b></td><td>@_razon_@</td>
			</tr>

			<tr>
				<td><b>Teléfono:</b></b></td><td>@_tel_@</td>
				<td><b>Tel. Movil:</b></td><td>@_movil_@</td>
			</tr>	

			<tr>
				<td><b>Correo Electrónico:</b></b></td><td>@_mail_@</td>
				<td></td><td></td>
			</tr>																
			<tr>
				<td colspan="4" style="text-align:center;height: 150px;">					
					<p>	Para revisarlo, debes de ingresar al siguiente link:<br/>
						<a href="http://192.168.6.23"><button style="background-color: #548dd3;color: #ffffff;cursor: pointer;font-size: 15px;font-weight: bold;height: 25px;width: 50%;">Da Click Aqui</button></a><br>
						o bien copia y pega en tu navegador el siguiente enlace<br>
						<b> http://192.168.6.23</b>
					</p>
				</td>
			</tr>
		</table>
	</body>
</html>