<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<head>
	<body style="width: 800px;">
		<table>
			<tr>	
				<td colspan="2">  <img style="width:100%;" src="http://201.131.96.56/layouts/mail/header.png"></td>
			</tr>
			<tr>
				<td colspan="2" style="text-align:right;font-size:18px;">
					<span>@_usuario_@</span>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="text-align:right;font-size:15px;">
					<span>@_empresa_@</span>
				</td>
			</tr>	
			<tr>
				<td colspan="2">					
					<span style="font-weight: bold;font-size: 17px;">Su servicio ha sido agendado</span>
					<p>	Para Tracking Systems de México, S.A de C.V., es placer poder atenderle.</p>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="text-align:center;background-color:#FA6503;color:#FFFFFF;padding:5px;font-weight:bold;">
					Detalle de su solicitud de servicio
				</td>
			</tr>	
			<tr>
				<td>Tipo de servicio:</td><td>@_tservicio_@</td>
			</tr>	
			<tr>
				<td>Tipo de equipo:</td><td>@_tipequipo_@</td>
			</tr>
			<tr>
				<td>Fecha solicitada:</td><td>@_fecha_@</td>
			</tr>
			<tr>
				<td>Horario:</td><td>@_horario_@</td>
			</tr>
			<tr>
				<td>Lugar de servicio:</td><td>@_lugarservicio_@</td>
			</tr>									
			<tr>
				<td>Información del vehículo:</td>
				<td>@_infounit_@</td>
			</tr>	
			<tr>
				<td>Observaciones:</td><td>@_observaciones_@</td>
			</tr>		
			<tr>
				<td>Comentarios Centro de Operaciones TSM.</td>
				<td>@_coment_uda_@</td>
			</tr>				
			<tr>
				<td colspan="2">
					<span style="font-weight: bold;font-size: 17px;">Para dudas y aclaraciones:</span><br>
					<p>
					Correo electrónico: <a href="mailto:servicioaclientes@grupouda.com.mx">servicioaclientes@grupouda.com.mx</a><br>
					Teléfonos: 53 74 93 35 y 01 800 221 13 67<br>
					Horarios de atención Lunes a Viernes 09:00 a 18:00<br>
					Sábados de 09:00 a 14:30 <br>
					</p>
					Términos y condiciones:					
					<blockquote><a href="http://www.grupouda.com.mx/index.php/legales" >TERMINOS Y CONDICIONES DEL SERVICIO</a>

				</td>
				<td></td>
			</tr>
			<tr>	
				<td colspan="2"> <img style="width:100%;" src="http://201.131.96.56/layouts/mail/footer.png"></td>
			</tr>		

			<tr>	
				<td colspan="2"> <small>Aviso: Este correo electrónico y sus archivos, pueden contener información de carácter confidencial y privado para uso exclusivo del destinatario. Si usted no es el destinatario a quien se dirige el presente correo electrónico, favor de contactar al remitente respondiendo al presente correo y eliminar el correo original incluyendo sus archivos, así como cualesquiera copia del mismo. A través de este correo se le notifica que está estrictamente prohibida su distribución, copia, o cualquier uso de este correo electrónico y sus archivos. Gracias.</small></td>
			</tr>					

		</table>
	</body>
</html>